.about-logo{
    display:block;
    height:300px;
    margin:100px auto;
    animation: home-logo-spin infinite 20s linear;
}

@keyframes home-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  